.likes {
  position: sticky;
  top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  .heart {
    width: 3.5rem;
    height: 3.5rem;
    background-color: azure;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
  }

  .red-heart {
    color: rgb(242, 39, 39);
  }
}
