<div class="content">
  <img src="/assets/img/article.jpg" class="article-img" alt="" srcset="" />
  <div class="article-content">
    <h2 class="fw-bolder mt-4">{{ article.title }}</h2>
    <div class="article-text">
      <p>{{ article.body }}</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        tempore facere voluptatem at nulla deserunt voluptates accusantium quam
        sequi, omnis et alias? Recusandae ad harum quia labore, iusto ipsa sit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        tempore facere voluptatem at nulla deserunt voluptates accusantium quam
        sequi, omnis et alias? Recusandae ad harum quia labore, iusto ipsa sit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        tempore facere voluptatem at nulla deserunt voluptates accusantium quam
        sequi, omnis et alias? Recusandae ad harum quia labore, iusto ipsa sit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        tempore facere voluptatem at nulla deserunt voluptates accusantium quam
        sequi, omnis et alias? Recusandae ad harum quia labore, iusto ipsa sit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        tempore facere voluptatem at nulla deserunt voluptates accusantium quam
        sequi, omnis et alias? Recusandae ad harum quia labore, iusto ipsa sit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        tempore facere voluptatem at nulla deserunt voluptates accusantium quam
        sequi, omnis et alias? Recusandae ad harum quia labore, iusto ipsa sit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        tempore facere voluptatem at nulla deserunt voluptates accusantium quam
        sequi, omnis et alias? Recusandae ad harum quia labore, iusto ipsa sit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        tempore facere voluptatem at nulla deserunt voluptates accusantium quam
        sequi, omnis et alias? Recusandae ad harum quia labore, iusto ipsa sit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        tempore facere voluptatem at nulla deserunt voluptates accusantium quam
        sequi, omnis et alias? Recusandae ad harum quia labore, iusto ipsa sit.
      </p>
    </div>
  </div>
</div>
