.likes {
  color: #00bcd4;
  font-size: 16px;

  .heart {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
  }
}

.card:hover {
  h5 {
    color: #1854e9;
    transition: all 0.2s ease-in-out;
  }
}
