<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">
      <!-- display avatar and user name -->
      <img
        src="/assets/img/avatar.svg"
        class="rounded-circle me-2"
        width="30"
        height="30"
        alt=""
      />
      <span class="text-muted">My beautiful name</span>
    </h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <span class="text-muted">30/11/2021</span>
  </div>
</div>
