<div class="wrapper">
  <div class="sidebar-title py-2">
    <img src="/assets/img/logo.svg" class="logo" alt="" srcset="" />
    <h5 class="fw-bolder text-white ms-2 mt-2">
      The big<span class="letter-o">O</span>h blog
    </h5>
  </div>
  <div class="sidebar-links">
    <ul class="sidebar-nav">
      <li
        class="link"
        routerLink="/admin/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img src="/assets/img/home.svg" class="link-svg" />
        <span>Dashboard</span>
      </li>
      <li
        class="link"
        routerLink="/admin/dashboard/start-writing"
        routerLinkActive="active"
      >
        <img src="/assets/img/pen.svg" class="link-svg" />
        <span>start-writing</span>
      </li>
      <li
        class="link"
        routerLink="/admin/dashboard/articles-list"
        routerLinkActive="active"
      >
        <img src="/assets/img/article.svg" class="link-svg" />
        <span>Articles publiés</span>
      </li>
      <li
        class="link"
        routerLink="/admin/dashboard/unpublished-articles"
        routerLinkActive="active"
      >
        <img src="/assets/img/unpublished.svg" class="link-svg" />
        <span>Articles pas publiés</span>
      </li>
      <li
        class="link"
        routerLink="/admin/dashboard/users-list"
        routerLinkActive="active"
      >
        <img src="/assets/img/users.svg" class="link-svg" />
        <span>Users</span>
      </li>
      <li
        class="link"
        routerLink="/admin/dashboard/admins-list"
        routerLinkActive="active"
      >
        <img src="/assets/img/admin.svg" class="link-svg" />
        <span>Admins</span>
      </li>
      <a
        class="link text-decoration-none"
        routerLink="/articles"
        target="_blank"
      >
        <img src="/assets/img/redirect.svg" class="link-svg" />
        <span>Acceder au blog</span>
      </a>
    </ul>
  </div>
</div>
