.row > div {
  padding: 0;
  height: 100vh;
}

.wrapper {
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #031b4e;
  border-radius: 10px;
}
