.row > div {
  padding: 0;
  height: 100vh;
}

.wrapper {
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #031b4e;
  border-radius: 5px;
}
